@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #343a40;
}

* {
  scroll-behavior: smooth;
}

.scroll-down {
  cursor: pointer;
}

.scroll-down .mouse {
  width: 25px;
  height: 45px;
  border: 2px solid var(--mouse-border-color);
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.scroll-down .mouse .wheel {
  width: 4px;
  height: 4px;
  background: var(--mouse-wheel-color);
  border-radius: 50%;
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
  animation: scroll 1.5s ease-in-out infinite;
}

@keyframes scroll {
  0% {
    transform: translateY(0) translateX(-50%);
    opacity: 1;
  }
  100% {
    transform: translateY(20px) translateX(-50%);
    opacity: 0;
  }
}
